@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", sans-serif;
    min-height: 100vh;
}

.bodySec {
    display: flex;
    flex-direction: column;
}

button {
    font-family: "Nunito Sans", sans-serif;
}

.imgFondoIndex {
    background-image: url("../img/runescape fondo.jpg");
}

/* .divPrincipal {
    background-image: url("../img/runescape fondo.jpg");
    background-repeat: repeat-y;
    background-size:100%;
    width: 60%;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-areas: "logo botones"
                         "null botones"
                         "null botones";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    box-shadow: 0 0 10px 2px lightgray;
    border-radius: 2rem;
    padding: 2rem;
} */

.divSecundario{
    min-height: 50vh;
    margin-top: -100px;
    display: flex;
    justify-content: flex-start;
    flex-grow: 2;
    flex-direction: column;
    background-image: none;
}

.imgLogo {
    max-width: 100px;
    max-height: 100px;
}

.logoSec {
    position: sticky;
    top: 0;
}

.logoSec img {
    max-width: 40vh;
}

.crearRegistro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    grid-area: logo;
}

.botonesIndex {
    margin-top: 2rem;
    grid-area: botones;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#panelItems, #panelMisRegistros, .divInformacion {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.crearRegistro {
    font-size: 1.3rem;
    padding: 1rem;
}

#agregarItem {
    display: none;
}

#modificarItem {
    display: none;
}

.iconoEditar {
    width: 15px;
}

td {
    text-align: center;
}

.inputsAgregarItem {
    display: flex;
}

input {
    text-align: center;
    width: 50px;
}

select {
    width: 100px;
}

/* table {
    border-collapse: collapse; 
}

th {
    padding: 0 2rem 0 2rem;
    background-color:rgb(119, 119, 173);
    border: 2px solid gray;
}

td {
    border: 2px solid gray;
    padding: 0.25rem 0;
    background-color: rgba(173, 216, 230, 0.696); 
}

tbody tr:hover {
    background-color: rgb(56, 171, 209);
    color: white;
}
 */
#pieTablaItems {
    display: none;
}

#fechaSiembra, #fechaSiembraModificar {
    width: 9rem;
}

#nombreRegistro, #montoInicial {
    font-size: 1rem;
    width: 11rem;
}

@media (max-width: 500px) {
    .divPrincipal {
        width: 100%;
    }
    td {
        padding: 0.25rem;
    }
    th {
        writing-mode: vertical-rl;
        padding: 0.25rem;
    }
}

.divTabla {
    align-self: center;
}

.imgDrop {
    width: 1rem;
}

/* .controlesInfo {
    text-align:center;
} */

footer {
    justify-self: flex-end;
}

footer div img {
    width: 100%;
    height: auto;
}

.tablaInfo {
    overflow:scroll;
}

.divTabla {
    max-height: 60vh;
    overflow:auto;
}

::-webkit-scrollbar {
    width: 4px;
  }
  
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } 
 

  thead {
    position: sticky;
    top: 0;
  }

  .logoSec {
    width: fit-content;
  }


  .botonesModificarItem, .botonesModificar {
    padding: 0.1rem 0.5rem;
  }

  .botonesModificarItem:hover, .botonesModificar:hover, .checksEliminarRegistros, .checksEliminarItems {
    cursor: pointer;
  }

  .seccionModificarItem {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 14rem;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 0 10px 2px lightgray;
    border-radius: 1rem;
  }

  .inputsModificar{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
  }

  .inputsModificar input, .inputsModificar select {
    font-size: 1rem;
  }